<div class="tab sem">
    <h3>Step 2 of 3</h3>
    <h4>Semester I</h4>
    <h5 id="sem1Credits"></h5>
    <br>
    <% if (lvl<=2) { %>
    <% data.semester1.forEach(element => { %>
    <h5><%= element[0].deptName %></h5>
    <div class="mandatory">
        <label class="form-label">Available modules</label>
        <ul class="list-group shadow mb-3 bg-body rounded">
            <% element[1].forEach(e => { %>
            <li class="list-group-item" data-code="<%= e.course_code %>" data-name="<%= e.name %>"
                data-credit="<%= e.credit %>">
                <%= e.course_code %> - <%= e.name %> - <%= e.credit %>
            </li>
            <% }) %>
        </ul>
    </div>
    <% }) %>
    <% } else { %>

    <% for( let index = 0; index < data.semester1.length; index++ ) { %>
    <h5><%= data.semester1[index][0].deptName %></h5>

    <div class="mandatory">
        <label class="form-label">Mandatory modules</label>
        <ul class="list-group shadow mb-3 bg-body rounded">
            <% let manCount=0 %>
            <% for( let i = 0; i < data.semester1[index][1].length; i++ ) { %>
            <% if (data.semester1[index][1][i].mandatory) { %>
            <% var code=data.semester1[index][1][i].course_code %>
            <% var name=data.semester1[index][1][i].name %>
            <% var credit=data.semester1[index][1][i].credit %>
            <li class="list-group-item" data-code="<%= code %>" data-name="<%= name %>" data-credit="<%= credit %>">
                <%= code %> - <%= name %> - <%= credit %>
            </li>
            <% manCount+=1 %>
            <% } %>
            <% } %>
        </ul>
        <% if (manCount==0) { %>
        <h6 style="text-align: center;">no mandatory modules available </h6>
        <% } %>
    </div>


    <div class="optional">
        <label class="form-label">Optional modules</label>
        <ul class="list-group shadow mb-3 bg-body rounded">
            <% let opCount=0 %>
            <% for( let i = 0; i < data.semester1[index][1].length; i++ ) { %>
            <% if (!data.semester1[index][1][i].mandatory) { %>
            <% var code=data.semester1[index][1][i].course_code %>
            <% var name=data.semester1[index][1][i].name %>
            <% var credit=data.semester1[index][1][i].credit %>
            <li class="list-group-item" data-code="<%= code %>" data-name="<%= name %>" data-credit="<%= credit %>"
                data-sem="1">
                <div class="input-group mb-3">
                    <input class="form-check-input mt-1" type="checkbox">
                    <label class="form-lable checkbox-inline" id="lbProcessingConsultant" for="ProcessingConsultantYN"
                        style="padding-left: 2.5%;">
                        <%= code %> - <%= name %> - <%= credit %>
                    </label>
                </div>
            </li>
            <% opCount+=1 %>
            <% } %>
            <% } %>
        </ul>
    </div>
    <% if (opCount==0) { %>
    <h6 style="text-align: center;">no optional modules available</h6>
    <% } %>
    <% } %>
    <% } %>
</div>


<div class="tab sem">

    <h3>Step 3 of 3</h3>
    <h4>Semester II</h4>
    <h5 id="sem2Credits"> </h5>

    <br>
    <% if (lvl<=2) { %>
    <% data.semester2.forEach(element => { %>
    <h5><%= element[0].deptName %></h5>
    <div class="mandatory">
        <label class="form-label">Available modules</label>
        <ul class="list-group shadow mb-3 bg-body rounded">
            <% element[1].forEach(e => { %>
            <li class="list-group-item" data-code="<%= e.course_code %>" data-name="<%= e.name %>"
                data-credit="<%= e.credit %>">
                <%= e.course_code %> - <%= e.name %> - <%= e.credit %>
            </li>
            <% }) %>
        </ul>
    </div>
    <% }) %>
    <% } else { %>

    <% for( let index = 0; index < data.semester2.length; index++ ) { %>
    <h5><%= data.semester2[index][0].deptName %></h5>

    <div class="mandatory">
        <label class="form-label">Mandatory modules</label>
        <ul class="list-group shadow mb-3 bg-body rounded display-flex">
            <% let manCount=0 %>
            <% for( let i = 0; i < data.semester2[index][1].length; i++ ) { %>
            <% if (data.semester2[index][1][i].mandatory) { %>
            <% var code=data.semester2[index][1][i].course_code %>
            <% var name=data.semester2[index][1][i].name %>
            <% var credit=data.semester2[index][1][i].credit %>
            <li class="list-group-item" data-code="<%= code %>" data-name="<%= name %>" data-credit="<%= credit %>">
                <%= code %> - <%= name %> - <%= credit %> </li>
            <% manCount+=1 %>
            <% } %>
            <% } %>
        </ul>
        <% if (manCount==0) { %>
        <h6 style="text-align: center;">no mandatory modules available </h6>
        <% } %>
    </div>

    <div class="optional">
        <label class="form-label">Optional modules</label>
        <ul class="list-group shadow mb-3 bg-body rounded display-flex">
            <% let opCount=0 %>
            <% for( let i = 0; i < data.semester2[index][1].length; i++ ) { %>
            <% if (!data.semester2[index][1][i].mandatory) { %>
            <% var code=data.semester2[index][1][i].course_code %>
            <% var name=data.semester2[index][1][i].name %>
            <% var credit=data.semester2[index][1][i].credit %>
            <li class="list-group-item" data-code="<%= code %>" data-name="<%= name %>" data-credit="<%= credit %>"
                data-sem="2">
                <div class="input-group mb-3">
                    <input class="form-check-input mt-1" type="checkbox" value=""
                        aria-label="Checkbox for following text input">
                    <label class="form-lable checkbox-inline" id="lbProcessingConsultant" for="ProcessingConsultantYN"
                        style="padding-left:2.5%">
                        <%= code %> - <%= name %> - <%= credit %>
                    </label>
                </div>
            </li>
            <% opCount+=1 %>
            <% } %>
            <% } %>
        </ul>
    </div>

    <% if (opCount==0) { %>
    <h6 style="text-align: center;">no optional modules available</h6>
    <% } %>
    <% } %>
    <% } %>

    <h5 id="totCredits"> </h5>

</div>