<section id="course-details" class="course-details">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-8">
                <h3><%= dept[0].deptName %> - Level <%= level %></h3>
            </div>
        </div>
    </div>
</section>


<!-- ======= Cource Details Tabs Section Semester 1======= -->
<section id="cource-details-tabs" class="cource-details-tabs">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <h4>Semester I</h4>
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <% var counter=0 %>
                    <% result.forEach(element => { %>
                    <% if (element.semester===1) { %>
                    <% counter=counter+1 %>
                    <li class="nav-item">
                        <% if (counter==1) { %>
                        <a class="nav-link active show" data-bs-toggle="tab"
                            href="#sem1-<%= counter %>"><%= element.course_code %>
                        </a>
                        <% } else { %>
                        <a class="nav-link" data-bs-toggle="tab" href="#sem1-<%= counter %>"><%= element.course_code %>
                        </a>
                        <% } %>
                    </li>
                    <% } %>
                    <% }) %>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <% var sem1Counter=0 %>
                    <% result.forEach(element => { %>
                    <% if (element.semester===1) { %>
                    <% if (sem1Counter>0) { %>
                    <% sem1Counter=sem1Counter+1 %>

                    <div class="tab-pane" id="sem1-<%= sem1Counter %>">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3><%= element.name %></h3>
                                <p><%= element.description %></p>
                            </div>

                        </div>
                    </div>

                    <% } else{ %>
                    <% sem1Counter=sem1Counter+1 %>
                    <div class="tab-pane active show" id="sem1-<%= sem1Counter %>">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3><%= element.name %></h3>
                                <p><%= element.description %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% } %>
                    <% }) %>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Cource Details Tabs Section -->



<!-- ======= Cource Details Tabs Section Semester 2======= -->
<section id="cource-details-tabs" class="cource-details-tabs">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <h4>Semester II</h4>
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <% var counter=0 %>
                    <% result.forEach(element => { %>
                    <% if (element.semester===2) { %>
                    <% counter=counter+1 %>
                    <li class="nav-item">
                        <% if (counter==1) { %>
                        <a class="nav-link active show" data-bs-toggle="tab"
                            href="#sem2-<%= counter %>"><%= element.course_code %>
                        </a>
                        <% } else { %>
                        <a class="nav-link" data-bs-toggle="tab" href="#sem2-<%= counter %>"><%= element.course_code %>
                        </a>
                        <% } %>
                    </li>
                    <% } %>
                    <% }) %>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <% var sem2Counter=0 %>
                    <% result.forEach(element => { %>
                    <% if (element.semester===2) { %>
                    <% if (sem2Counter>0) { %>
                    <% sem2Counter=sem2Counter+1 %>

                    <div class="tab-pane" id="sem2-<%= sem2Counter %>">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3><%= element.name %></h3>
                                <p><%= element.description %></p>
                            </div>

                        </div>
                    </div>

                    <% } else{ %>
                    <% sem2Counter=sem2Counter+1 %>
                    <div class="tab-pane active show" id="sem2-<%= sem2Counter %>">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3><%= element.name %></h3>

                                <p><%= element.description %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% } %>
                    <% }) %>

                </div>
            </div>
        </div>

    </div>
</section><!-- End Cource Details Tabs Section -->