<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="registrationForm.css">
</head>
<body>
	<form>
	<div class="container-fluid">
	<!-- <textarea cols="10" rows="8" value="">  
</textarea>  -->
<div class="photo">
  <div class="img" style="background-image:url(/Images/); background-position: center; background-size: cover; background-repeat: no-repeat;">Photograph</div>
	<p align="center"><em>Faculty of Applied Sciences</em></p>
	<h5 align="center"><em>Wayamba University of Sri Lanka</em></h5>
	<h4 align="center">Course Registration Form</h4>
	<h5 align="center">Acadamic Year: <%= data.personal.academicYear %>  (Level <%= data.personal.level %> )</h5>
	<h3 align="center">B.Sc.(Joint Major) Degree Program</h3>
</div>
	<div align="right">
	<input type="text" id="RegNo" name="username" value="<%= data.personal.regNo %> " placeholder="Reg. No................................."><br>
	</div>
  <div>
    <span class="elements">
      <label class="new" for="test">01.  Name in Full(Mr./Ms.):-</label>
      <input name="Title" type="email" value="<%= data.personal.name %> " placeholder="">
  </span>
  </div>
   <div>
    <span class="elements"> 
      <label class="field" for="Title">02.  Contact No. for  Immediate Correspondence:-</label>
      
      <input name="Title" type="email" value="<%= data.personal.contact %> " placeholder="">
  </span>
   </div>

	<!-- <p>01.  Name in Full(Mr./Ms.):-................................................................................................................................................................................................................................................................</p>
  <p>02.  Contact No. for  Immediate Correspondence:-......................................................................</p>
	-->
  <p>03.  Select Three Subject Combinations in the order of preference by putting 1,2,3 in the relevant cages:- </p> 
	<table border="1px solid black" align="center">
	<thead>
	<tr>
    <th>Combination</th>
    <th>Major 1</th>
    <th>Major 2</th>
	<th>Selected Combination</th>
  </tr>
	</thead>
	<tbody>
	<tr>
    <td>COMB   1A</td>
    <td>CMIS</td>
    <td>ELTN</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   1B</td>
    <td>CMIS</td>
    <td>MMST</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   1C</td>
    <td>CMIS</td>
    <td>IMGT</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   2A</td>
    <td>ELTN</td>
    <td>CMIS</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   2B</td>
    <td>ELTN</td>
    <td>MMST</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   2C</td>
    <td>ELTN</td>
    <td>IMGT</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   3A</td>
    <td>IMGT</td>
    <td>ELTN</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   3B</td>
    <td>IMGT</td>
    <td>MMST</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   3C</td>
    <td>IMGT</td>
    <td>CMIS</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   4A</td>
    <td>MMST</td>
    <td>CMIS</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   4B</td>
    <td>MMST</td>
    <td>ELTN</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   4C</td>
    <td>MMST</td>
    <td>IMGT</td>
	<td></td>
  </tr>
	</tbody>
	</table>
</br>
	<p>Indicate in the tables below, the Course Modules of the Degree Program of your first preference, for which you wish to register.  </p>
</br>
<h4>SEMESTER I</h4>
<table border="1px" align="center">
<thead>
<tr>
    <th>Module Code</th>
    <th>Title of the Compulsory Module</th>
    <th>No. of Credits</th>
	
  </tr>
  </thead>
  <% var sem1Mandatory=data.semester1.mandatory %>
                <% for( let i = 0; i < sem1Mandatory.length; i++ ) { %>
                <tr>
                    <td style="vertical-align:middle"><%= sem1Mandatory[i].code %></td>
                    <td style="vertical-align:middle"><%= sem1Mandatory[i].name %></td>
                    <td style="vertical-align:middle"><%= sem1Mandatory[i].credit %></td>
                </tr>
                <% } %>
  
  <tr>
    <td></td>
    <td colspan="2">Total No. of Credits =</td>
    
    </tr>
</table>
</br>
</br>
<table border="1px" align="center">
<thead>
<tr>
    <th>Module Code</th>
    <th>Title of the Optional Module</th>
    <th>No. of Credits</th>
	</thead>
  </tr>
  <% var sem1Optional=data.semester1.optional %>
    <% for( let i = 0; i < sem1Optional.length; i++ ) { %>
    <tr>
        <td style="vertical-align:middle"><%= sem1Optional[i].code %></td>
        <td style="vertical-align:middle"><%= sem1Optional[i].name %></td>
        <td style="vertical-align:middle"><%= sem1Optional[i].credit %></td>
    </tr>
    <% } %>
  
   <tr>
     <td></td>
     <td colspan="2">Total No. of Credits =</td>
     
     </tr>
</table>
</br>
</br>
<h4>SEMESTER II</h4>
<table border="1px" align="center">
<thead>
<tr>
    <th>Module Code</th>
    <th>Title of the Compulsory Module</th>
    <th>No. of Credits</th>
	
  </tr>
  </thead>
  <% var sem2Mandatory=data.semester2.mandatory %>
                <% for( let i = 0; i < sem2Mandatory.length; i++ ) { %>
                <tr>
                    <td style="vertical-align:middle"><%= sem2Mandatory[i].code %></td>
                    <td style="vertical-align:middle"><%= sem2Mandatory[i].name %></td>
                    <td style="vertical-align:middle"><%= sem2Mandatory[i].credit %></td>
                </tr>
                <% } %>
  
  <tr>
    <td></td>
    <td colspan="2">Total No. of Credits =</td>
    
    </tr>
</table>
</br>
<br>
<table border="1px" align="center">
<thead>
<tr>
    <th>Module Code</th>
    <th>Title of the Optional Module</th>
    <th>No. of Credits</th>
	
  </tr>
  </thead>
  
  <% var sem2Optional=data.semester2.optional %>
    <% for( let i = 0; i < sem2Optional.length; i++ ) { %>
    <tr>
        <td style="vertical-align:middle"><%= sem2Optional[i].code %></td>
        <td style="vertical-align:middle"><%= sem2Optional[i].name %></td>
        <td style="vertical-align:middle"><%= sem2Optional[i].credit %></td>
    </tr>
    <% } %>
  <tr>
    <td></td>
    <td colspan="2">Total No. of Credits =</td>
    
    </tr>
    <tr>
      <td colspan="3">Total number of credits for the academic year =</td>
    </tr>
</table>
<p>04. Registration Fee:  Rs. 150</p>
<table class="date_table">
  <tr>
    <td>Date of Payments:</td>
    <td>Receipt No:</td>
    </tr>
    <tr>
      <td>Date: ...........................</td>
      <td>.................................</td>
      </tr>
      <tr>
        <td></td>
        <td>Signature of Applicant</td>
      </tr>
  </table>
</br>
<hr>
<p>I certify that the above student has selected the correct set of modules relevant to his/her combination at level 3 and that he/she will fulfill the minimum annual credit requirement in respect of the subject area(s) offered by my Department </p>
</br>
</br>
<table class="Signature_table">
  <tr>
    <td>..................................................</td>
    <td>..................................................</td>
    <td>..................................................</td>
    <td>..................................................</td>

    </tr>
    <tr>
      <td>Signature of the Head/Academic Advisor/CMIS</td>
      <td>Signature of the Head/Academic Advisor/ELTN</td>
      <td>Signature of the Head/Academic Advisor/IMGT</td>
      <td>Signature of the Head/Academic Advisor/MATH</td>
      </tr>
      <tr>
        <td>Date...........................................</td>
        <td>Date...........................................</td>
        <td>Date...........................................</td>
        <td>Date...........................................</td>
    
        </tr>
</table>	
</br>
<p>I certify that the above student has selected required minimum/maximum number of modules aggregating to the number of credits................. for Level 3</p>
</br>
<p>.........................................................</p>
	<p>Signature of the Student Counsellor</p>
	
	</div>
	</form>
</body>
</html>