<div class="card">
    <div class="card-header">
        <h4 class="card-title"> <%= dept[0].deptName %></h4>
        <p class="category" style="font-size: medium;"> Level <%= level %> Modules</p>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <th>
                        Module code
                    </th>
                    <th>
                        Module name
                    </th>
                    <th>
                        Module credit
                    </th>
                    <th class="text-right">

                    </th>
                </thead>
                <tbody>

                    <% result.forEach(element => { %>
                    <tr>
                        <td>
                            <%= element.course_code %>
                        </td>
                        <td>
                            <%= element.name %>
                        </td>
                        <td>
                            <%= element.credit %>
                        </td>
                        <td class="text-right">
                            <div class="container">
                                <form class="form-inline ml-auto">
                                    <div class="col-md-6 pr-1">
                                        <button type="submit" class="btn btn-outline-default btn-round btn-sm editBtns">
                                            edit
                                        </button>
                                    </div>
                                    <div class="col-md-2 pl-1">
                                        <button type="submit"
                                            class="btn btn-outline-danger btn-round btn-sm deleteBtns">
                                            delete
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <% }) %>

                </tbody>
            </table>
        </div>
    </div>
</div>