<div class="d-flex justify-content-center p-3 mb-3">
    <h3>Department of Computing & Information Systems</h3>
</div>
<div class="d-flex justify-content-center mb-1">
    <h4>Level of Study - III</h4>
</div>
<div class="row align-items-center mb-3">
    <h5>Mandatory modules</h5>


    <div class="accordion col align-items-center" id="mandatoryAccord">
        <!-- <% data.forEach(element => { %> -->
        <div class="accordion-item">
            <h6 class="accordion-header" id="<%= element.course_code %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#content<%= element.course_code %>"
                    aria-controls="content<%= element.course_code %>">
                    <%= element.course_code %> - <%= element.name %> - <%= element.credit %>
                </button>
            </h6>
            <div id="content<%= element.course_code %>" class="accordion-collapse collapse"
                aria-labelledby="<%= element.course_code %>" data-bs-parent="#mandatoryAccord">
                <div class="accordion-body">
                    <%= element.description %>
                </div>
            </div>
        </div>
        <% }) %>
    </div>


</div>
<div class="row align-items-center mb-3">
    <h5>Optional modules</h5>




</div>