<div class="tab">
    <h3>Step 2 of 3</h3>
    <h4>Semester I</h4>
    <br>
    <% if (lvl<=2) { %>
    <% data.semester1.forEach(element => { %>
    <h5><%= element[0].deptName %></h5>
    <div>
        <label class="form-label">Available modules</label>
        <ul class="list-group shadow mb-3 bg-body rounded">
            <% element[1].forEach(e => { %>
            <li class="list-group-item"><%= e.course_code %> - <%= e.name %> - <%= e.credit %></li>
            <% }) %>
        </ul>
    </div>
    <% }) %>
    <% } else { %>

    <% for( let index = 0; index < data.semester1.length; index++ ) { %>
    <h5><%= data.semester1[index][0].deptName %></h5>

    <div>
        <label class="form-label">Mandatory modules</label>
        <ul class="list-group shadow mb-3 bg-body rounded">
            <% let manCount=0 %>
            <% for( let i = 0; i < data.semester1[index][1].length; i++ ) { %>
            <% if (data.semester1[index][1][i].mandatory) { %>
            <li class="list-group-item"><%= data.semester1[index][1][i].course_code %> -
                <%= data.semester1[index][1][i].name %> - <%= data.semester1[index][1][i].credit %> </li>
            <% manCount+=1 %>
            <% } %>
            <% } %>
        </ul>
        <% if (manCount==0) { %>
        <h6 style="text-align: center;">no mandatory modules available </h6>
        <% } %>
    </div>


    <div>
        <label class="form-label">Optional modules</label>
        <% let opCount=0 %>
        <% for( let i = 0; i < data.semester1[index][1].length; i++ ) { %>
        <% if (!data.semester1[index][1][i].mandatory) { %>
        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value=""
                    aria-label="Checkbox for following text input">
            </div>
            <span class="input-group-text" id="inputGroup-sizing-default"><%= data.semester1[index][1][i].course_code %>
                - <%= data.semester1[index][1][i].name %> - <%= data.semester1[index][1][i].credit %>
            </span>
        </div>
        <% opCount+=1 %>
        <% } %>
        <% } %>
    </div>
    <% if (opCount==0) { %>
    <h6 style="text-align: center;">no optional modules available</h6>
    <% } %>
    <% } %>
    <% } %>
</div>


<div class="tab">

    <h3>Step 3 of 3</h3>
    <h4>Semester II</h4>
    <br>
    <% if (lvl<=2) { %>
    <% data.semester2.forEach(element => { %>
    <h5><%= element[0].deptName %></h5>
    <div>
        <label class="form-label">Available modules</label>
        <ul class="list-group shadow mb-3 bg-body rounded">
            <% element[1].forEach(e => { %>
            <li class="list-group-item"><%= e.course_code %> - <%= e.name %> - <%= e.credit %></li>
            <% }) %>
        </ul>
    </div>
    <% }) %>
    <% } else { %>

    <% for( let index = 0; index < data.semester2.length; index++ ) { %>
    <h5><%= data.semester2[index][0].deptName %></h5>

    <div>
        <label class="form-label">Mandatory modules</label>
        <ul class="list-group shadow mb-3 bg-body rounded display-flex">
            <% let manCount=0 %>
            <% for( let i = 0; i < data.semester2[index][1].length; i++ ) { %>
            <% if (data.semester2[index][1][i].mandatory) { %>
            <li class="list-group-item"><%= data.semester2[index][1][i].course_code %> -
                <%= data.semester2[index][1][i].name %> - <%= data.semester2[index][1][i].credit %> </li>
            <% manCount+=1 %>
            <% } %>
            <% } %>
        </ul>
        <% if (manCount==0) { %>
        <h6 style="text-align: center;">no mandatory modules available </h6>
        <% } %>
    </div>

    <div>
        <label class="form-label">Optional modules</label>
        <% let opCount=0 %>
        <% for( let i = 0; i < data.semester2[index][1].length; i++ ) { %>
        <% if (!data.semester2[index][1][i].mandatory) { %>
        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value=""
                    aria-label="Checkbox for following text input">
            </div>
            <span class="input-group-text" id="inputGroup-sizing-default"><%= data.semester2[index][1][i].course_code %>
                - <%= data.semester2[index][1][i].name %> - <%= data.semester2[index][1][i].credit %>
            </span>
        </div>
        <% opCount+=1 %>
        <% } %>
        <% } %>
    </div>
    <% if (opCount==0) { %>
    <h6 style="text-align: center;">no optional modules available</h6>
    <% } %>
    <% } %>
    <% } %>

</div>