<div class="row" id="main-content">
    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="/assets/img/bg5.jpg" alt="...">
            </div>
            <div class="card-body">
                <div class="author">
                    <div>
                        <img class="avatar border-gray" src="/assets/img/avatar2.jpg" alt="...">
                        <h5 class="title"><%= `${data[0].firstName} ${data[0].lastName}` %></h5>
                    </div>
                    <p class="description">
                        <%= data[0].username %>
                    </p>
                    <a href="">Change password</a><br>
                    <a href="">Change email address</a>
                </div>
            </div>
            <hr>
            <div class="button-container">

            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="title"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span> Edit Profile
                </h5>
            </div>
            <div class="card-body">
                <form action="https://localhost:3000/courses/admin/account?_method=PUT" method="post">
                    <div class="row">

                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label for="uName">Username</label>
                                <input type="text" class="form-control" disabled="" placeholder="Username"
                                    value="<%= data[0].username %>" id="uName">
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" placeholder="Email"
                                    value="<%= data[0].email %>" disabled="" id="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label for="fName">First Name</label>
                                <input type="text" class="form-control" placeholder="Company"
                                    value="<%= data[0].firstName %>" id="fName" name="fName">
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label for="lName">Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name"
                                    value="<%= data[0].lastName %>" id="lName" name="lName">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" placeholder="Home Address"
                                    value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" id="address"
                                    name="address">
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <button class="btn btn-primary btn-round" id="submitbtn">
                                    <i class="fa fa-refresh" aria-hidden="true"></i> Update info
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" id="error-content">

</div>